body {
    background-color: rgb(252, 188, 184);
}

button {
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    background-color: rgb(77, 80, 97);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    background-color: rgb(130, 134, 155);
}

.container {
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
}
.gameInformation {
    display: flex;
    gap: 20px;
}

.winner {
    height: 20px;
}

.restart {
    margin: 50px;
    visibility: hidden;
}
